#user_auth{
    padding-top: 50px;
    margin: 100px auto;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    justify-content: center;
    text-align: center;
}
#btn_login{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
#btn_login button{
    height: 80px;
    width: 100px;
    border-radius: 5px;
}
#yes_btn{
    background-color: blue;
    color: white;
}
#no_btn{
    background-color: rgb(255, 0, 0);
    color: white;
}
