#flat_400_off img{
    margin: 6% auto;
    padding-left: 1%;
    height: 200px;
    width: 98%;
}
#man_women{
    display: flex;
}
#man_women img{
    margin-top: -7%;
    width: 100%;
    height: auto;
}
#libas img{
    height: auto;
    width: 100%;
}
#copun_corner img{
    height: auto;
    width: 100%;
}
#copun_code{
    display: flex;
    justify-content: space-between;
}
#copun_code img{
    height: auto;
    width: 40%;
}
#festive_offers img{
    height: auto;
    width: 100%;
}
 #men_festive_after{
display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 10px;
}
#men_festive_after img{
    width: 100%;
    height: auto;
}
#category_specials img{
    width: 100%;
    height: auto;
}
 #category_specials_after{
display: grid;
grid-template-columns: repeat(6,1fr);
}
#category_specials_after img{
    height: auto;
    width: 100%; 
}  
#image_ko_bigkarna_ka_liya img{
    height: auto;
    width: 100%;
}
/* #category_specials_after img :last-child */